# Environment variables
.env

# Python caching and compiled files
__pycache__/
*.py[cod]
*$py.class

# Local virtual environments
.venv/
venv/
ENV/
env/

# Generated vectors and datasets
data/clean/
data/embedding/

# IDE configs
.vscode/
.idea/

# Local logs
uvicorn_run.log
